@font-face {
    font-family: "headerFont";
    src: url("../../assets/fonts/RMStandardFont.woff") format("woff");
}
@font-face {
    font-family: "mainFont";
    src: url("../../assets/fonts/RCbodyFont.woff") format("woff");
}
@font-face {
    font-family: "buttonFont";
    src: url("../../assets/fonts/RCButtonFont.woff") format("woff");
}
@font-face {
    font-family: "titleFont";
    src: url("../../assets/fonts/RCTitleFont.woff") format("woff");
}

body, html {
    height: 100%;
    color: white;
    font-family: mainFont !important;
}

.bg {
/*Background image:*/
background-image: url("../images/backdropRnM.jpg");

 /* Full height */
 height: 100%;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

img {
    height: 200px !important;
    border: none !important;
    background-color: transparent !important;
}

.img-thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    bottom: 10%;
    left: 5px;
    width: 50%;
    color: #ffffff;
    background-color: #4aaaa5;
    line-height: 25px;
    opacity: 0.8;
    text-align: center;
    border: solid white 2px;
    border-radius: 25px;
    font-weight: bold;
}

h2 {
    background-color: #4aaaa5;
    border: solid white 2px;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    /* opacity: 0.8; */
    padding: 10px;
    font-family: headerFont !important;
    
    
}

h1 {
    font-family: titleFont !important;
    font-size: 80px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 20px;
}

.restartButtonHide{
    visibility: hidden; 

}

.restartButtonShow{
    visibility: visible !important; 

}

button {
    padding: 10px;
    border-radius: 15px;
    margin: 15px 0px 15px 42%;
}

