body, html {
    height: 100%;
    color: white;
}

.bg {
/*Background image:*/
background-image: url("../images/backdropRnM.jpg");

 /* Full height */
 height: 100%;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

img {
    height: 200px !important;
    border: none !important;
    background-color: transparent !important;
}

/* .img-thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    bottom: 5%;
    left: 5px;
    width: 97%;
    color: #ffffff;
    background-color: #4aaaa5;
    line-height: 40px;
    opacity: 0.9;
} */